---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.vue';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Stefan's blog">
  <div class="grid">
    {posts.map((post, index) => (
      <PostCard
        client:load
        title={post.data.title}
        summary={post.data.summary}
        date={post.data.date}
        url={`/posts/${post.id}/`}
        index={index}
      />
    ))}
  </div>
</BaseLayout>
