---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/PostCard.vue';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Projects" description="My projects">
  <div class="grid">
    {projects.map((project, index) => (
      <PostCard
        client:load
        title={project.data.title}
        summary={project.data.summary}
        date={project.data.date}
        url={`/projects/${project.id}/`}
        index={index}
      />
    ))}
  </div>
</BaseLayout>
